@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  /* min-height: 100%; */
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  animation: back_ 20s ease-in-out infinite;
  background-repeat: no-repeat;
  background-position: center;
}
#root{
  /* min-height: 100%; */
  height: 100%;
  
}
html{
  /* min-height: 100%; */
  height: 100%;
  box-sizing: border-box;
}